<h1>Movies from 2014</h1>

<p>
    <select ng-model="currentDistributor" ng-options="d for d in distributors">

    </select>
</p>

<p>
    <!--form-control is a bootstrap class to make it look nice-->
    <input type="search" class="form-control" palceholder="type to filter" ng-model="query"/>
</p>
<!-- For rows and columns / Tabular Data -->
<table class="table">
    <thead>
    <tr>
        <th><a ng-click="setSort('title')" href="#">Title</a></th>
        <th><a ng-click="setSort('ratingOrdinal')" href="#">Rating</a></th>
        <th><a ng-click="setSort('released')" href="#">Released</a></th>
        <th><a ng-click="setSort('gross')" href="#">Gross Sales</a></th>
    </tr>
    </thead>
    <tbody>
    <!--ng-repeat: -->
    <tr ng-repeat="movie in movies |
                    filter : query |
                    filter: {distributor: currentDistributor} |
                    orderBy : sortCol : sortReverse">
        <td><a ng-href="#/movies/{{$index}}">{{movie.title}}</a></td>
        <td>{{movie.rating}}</td>
        <td>{{movie.released | date : 'MMM d yyyy'}}</td>
        <td>{{movie.gross | currency}}</td>
    </tr>
    </tbody>
</table>